menu "Mesh Configuration"

config ROUTER_SSID
    string "Router SSID"
        default "ROUTER_SSID"
        help
            SSID of the WiFi router to connect to.
            This router provides internet access to the root node.

config ROUTER_PASSWORD
    string "Router password"
        default "ROUTER_PASSWORD"
        help
            Password of the WiFi router.

endmenu
